[edge-mdns]: `HostAnswersMdnsHandler` respond to any A/AAAA queries even without match

## Description
When running a `HostAnswersMdnsHandler` to advertise a service, the responder will respond to any **A** / **AAAA** query even when there is no match.

As shown in the packet capture below, I have a device (**192.168.32.188**) requesting `staging-proton-hub.local`, and a device (**192.168.32.176**) running `edge-mdns` respond with no Answer RRs, advertising its services in Additional records:
<img width="1747" height="930" alt="Image" src="https://github.com/user-attachments/assets/7006a7d0-1293-4ebc-b990-6d96827559d4" />

Here's a code snippet of the service
```rust
let service = Service {
    name: "demio",
    priority: 1,
    weight: 5,
    service: "_https",
    protocol: "_tcp",
    port: 443,
    service_subtypes: &[],
    txt_kvs: &[("revision", REVISION)],
};


mdns.run(HostAnswersMdnsHandler::new(ServiceAnswers::new(
    &host, &service,
)))
.await
```

The issue is that the client (smoltcp in that case) then receive an answer with no matching IP and fails the request.
Related issue:
- https://github.com/smoltcp-rs/smoltcp/issues/1081

Per [RFC 6762 §6](https://www.rfc-editor.org/rfc/rfc6762.html#section-6):
> A Multicast DNS responder MUST only respond when it has a positive,
   non-null response to send, or it authoritatively knows that a
   particular record does not exist.

I think [this line](https://github.com/sysgrok/edge-net/blob/0ef522d6c85053729cb10e642fcf2bb8778a0726/edge-mdns/src/lib.rs#L919) needs to be removed.


@AnthonyGrondin can you help me in testing this? If you have time (and since you already have the perfect setup for testing it), please fork the repo, remove the line I mentioned above ^^^, try with the line removed, and if it works, I'll push a fix that removes the line to `master`.

Fixed pushed to `master` and released `edge-net` 0.11.1 and `edge-mdns` 0.6.1